
/**********************/
/*     Navigation     */
/**********************/

.navbar {
    position: relative;
    background-color: #f1f9fc;
    padding: 0.5rem 1rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.75rem;
    transition: all 0.2s ease;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-toggler-icon {
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.navbar-collapse {
    flex-basis: 100%;
}

.offcanvas-collapse {
    position: fixed;
    top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #f1f9fc;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.nav-link {
    display: block;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #6b747b;
    text-decoration: none;
    line-height: 0.875rem;
    transition: all 0.2s ease;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropdown.show > a,
.nav-link:hover,
.nav-link.active {
    color: #ff6e84;
    text-decoration: none;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #212529;
    list-style: none;
    background-color: #f1f9fc;
    background-clip: padding-box;
    border-radius: 0.25rem;
    animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dropdown-menu.show {
    display: block;
    top: 90%;
    left: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1.5rem;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    color: #6b747b;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
    text-decoration: none;
    background-color: #f1f9fc;
    color: #ff6e84;
}

.dropdown-divider {
    overflow: hidden;
    width: 100%;
    height: 1px;
    margin: 0.5rem auto 0.5rem auto;
    background-color: #d4dce2;
}

/*************************/
/*     Media Queries     */
/*************************/

@media (min-width: 1024px) {
    /* General Styles */

    .btn-solid-lg {
        margin-right: 0.5rem;
        margin-left: 0;
    }

    /* end of general styles */

    /* Navigation */
    .navbar {
        background-color: transparent;
        flex-wrap: nowrap;
        justify-content: start;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.75rem;
    }

    .navbar-collapse {
        flex-basis: auto;
    }

    .navbar.top-nav-collapse {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: #f1f9fc;
    }

    .offcanvas-collapse {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        width: auto;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
        overflow-y: visible;
        visibility: visible;
    }

    .offcanvas-collapse.open {
        -webkit-transform: none;
        transform: none;
    }

    .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }

    .dropdown-menu {
        position: absolute;
        margin-top: 0.25rem;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.05);
    }

    .dropdown-divider {
        width: 90%;
    }

    /* end of navigation */
}